@model RickApps.TestBed.Models.Parcel
@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Title.</h2>

<p>@Model.RateResponse</p>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <fieldset>
        <legend>@ViewBag.Message</legend>
        <p><label for="ShipMethod">Service: </label> @Html.DropDownListFor(p => p.ShipMethod, new SelectList(Model.Methods, "Item2", "Item1"))</p>
        <div id="FirstClass">
            <p>
                <label for="ContainerType">Type: </label>@Html.DropDownListFor(p => p.ContainerType, new SelectList(Model.MailTypes, "Item2", "Item1"))
                @Html.CheckBoxFor(p => p.IsMachinable)<label for="IsMachinable">Item is machinable</label>
            </p>
        </div>
        <p><label for="Destination">Destination Zip: </label> @Html.TextBoxFor(p => p.DestinationZip)</p>
        <p><label for="Pounds">Package Weight (lbs): </label>@Html.TextBoxFor(p => p.Pounds) </p>
        <p><label for="Ounces">Package Weight (ounces): </label>@Html.TextBoxFor(p => p.Ounces)</p>
        <fieldset>
            <legend>Size</legend>
            <ul>
                <li>@Html.CheckBoxFor(p => p.IsOverSize)<label for="IsOverSize">Parcel larger than 12 inches</label></li>
                <li>@Html.CheckBoxFor(p => p.IsOddShape)<label for="IsOddShape">Parcel is not rectangular</label></li>
            </ul>
            <div id="dimensions">
                <p><label for="Height">Height: </label> @Html.TextBoxFor(p => p.Height)</p>
                <p><label for="Length">Length: </label>@Html.TextBoxFor(p => p.Length) </p>
                <p><label for="Width">Width: </label>@Html.TextBoxFor(p => p.Width)</p>
                <div id="nonRect">
                    <p><label for="Girth">Girth: </label>@Html.TextBoxFor(p => p.Girth)</p>
                </div>
            </div>
        </fieldset>
    </fieldset>
    <input type="submit" value="Get Rate" />
}

@section scripts
{
    <script type="text/javascript">
        // Document is loaded
        jQuery("document").ready(function () {
            jQuery("#dimensions").hide();
            jQuery("#nonRect").hide();
            // Check box change
            jQuery("#IsOverSize").click(function () {
                if (jQuery(this).is(':checked')) {
                    jQuery("#dimensions").show();
                    if (jQuery("#IsOddShape").is(':checked')) {
                        jQuery("#nonRect").show();
                    }
                }
                else {
                    jQuery("#dimensions").hide();
                }
            });
            jQuery("#IsOddShape").click(function () {
                if (jQuery(this).is(':checked') && jQuery("#IsOverSize").is(':checked')) {
                    jQuery("#nonRect").show();
                }
                else {
                    jQuery("#nonRect").hide();
                }
            });
        });
    </script>
}
